html,
body {
    font-size: 16px;
    color    : $text-color-gray;
}

html {
    overflow: hidden;
}

body {
    overflow-y: auto;
}

* {
    margin : 0;
    padding: 0;
}

.error-msg {
    color    : $text-color-red;
    font-size: .875rem;
}

.txt-white {
    color: $text-color-white;
}

.text-muted {
    color: $text-color-muted;
}

a {
    text-decoration: none;
    color          : $text-color-gray;

    &:hover {
        color          : $text-color-gray;
        transition     : opacity .3s ease-in-out;
        text-decoration: none;
    }

    &.txt-white {
        &:hover {
            color          : $text-color-white;
            opacity        : .8;
            text-decoration: none;
        }
    }
}

.main-content {
    background-color: $border-color-gray;
}

.overlay {
    position  : fixed;
    top       : 0;
    height    : 100%;
    width     : 100%;
    z-index   : 999;
    left      : -100%;
    visibility: visible;
    transition: background-color .4s cubic-bezier(.23, 1, .32, 1) 0s;

    &.is-open {
        left      : 0;
        background: rgba(222, 226, 230, .65);
    }
}