$text-color-gray: #54667a;
$text-color-white: #ffffff;
$text-color-red: #de544f;
$text-color-muted: #868e96;
$background-color-white: #ffffff;
$border-color-gray: #e8e9ed;
$border-color-gray2: #4e4a49;

